* {
  margin: 0px; padding: 0px;
}
body, html {
  width: 100%; height: 100%;
}
.nav{ line-height: 60px; text-align: center;text-transform: uppercase;
   position: fixed; z-index: 99; width: 100%;background-color:#DE541E;}
.nav a{
text-decoration: none; font-family: 'Anton', sans-serif; font-size: 23px; color: white; margin-left: 24px;}
.picture{
  width: 100%; height: 100%; background-color:red;
}
.border{
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border: 4px solid #F2F3F4;
  border-radius: 10px;
  position: absolute; top: 20%; left: 10%;
}
.border h1{
  color: #F2F3F4; padding-top: 18%; text-shadow: 1px 1px 1px #BA4A00;
}
.text{
  width: 100%; height: 50%; background-color:#B8DBD9;
}
.photo1{
  background-image: url(images/photo1.jpeg); background-position: center; background-size: cover; background-attachment: fixed;
}
.photo2{
  background-image: url(images/photo2.jpeg); background-position: center; background-size: cover; background-attachment: fixed;
}
.photo3{
  background-image: url(images/photo4.png); background-position: center; background-size: cover; background-attachment: fixed;
}
.photo4{
  background-image: url(images/photo4.jpg); background-position: top-right; background-size: cover; background-attachment: fixed; position: relative;
}
.frame{
  border: 2px solid white; width: 88%; height: 78%; margin: auto;
}
  h1 {
    font-family:'Averia Sans Libre', cursive; font-size: 44px; text-align: center; text-transform: capitalize; color: white; padding: 7% 10% 0 10%;
  }
  h3{
      font-family: 'Pacifico', cursive; font-size: 28px; text-align:center;color: #212F3C; padding-top:15px;
  }
p{
  font-family: 'Pacifico', cursive; font-size: 17px; text-align: center;color: #212F3C; padding-top: 15px; text-shadow: 1px 1px 1px #F6DDCC;
}
.info{
  width: 36%; height:auto; position: absolute; top: 17%; left: 44%;
}
@media (max-width:768px) {
  .nav{ line-height: 40px; text-align: center; text-transform: uppercase;
    position: fixed; z-index: 99; width: 100%; background-color:#DE541E;}
  .nav a{
  text-decoration: none; font-family: 'Anton', sans-serif; font-size: 15px; color: white; margin-left: 16px;}
  .text{
    width: 100%; height: 30%; background-color:#B8DBD9;
  }
  .info{
    width: 40%; height: 50%; position: absolute; top: 10%; left: 45%;
  }
  .info h3 {
    font-family: 'Pacifico', cursive; font-size: 13px; text-align:center;color: #212F3C; padding-top:15px;
  }
  .info p {
  font-family: 'Pacifico', cursive; font-size: 11px; text-align: center;
  color: #212F3C; padding-top: 15px; text-shadow: 1px 1px 1px #F6DDCC;
  }
  .text h1 {
    font-family:'Averia Sans Libre', cursive; font-size: 16px; text-align: center;
     text-transform: capitalize; color: white; padding: 16% 10%;
  }
  .text h3{
      font-family: 'Pacifico', cursive; font-size: 15px; text-align:center;color: #212F3C; padding-top:15px;
  }
.text p{
  font-family: 'Pacifico', cursive; font-size: 14px; text-align: center;color: #212F3C; padding-top: 15px; text-shadow: 1px 1px 1px #F6DDCC;
}
.photo1{
  background-image: url(images/photo1mobile.jpeg); background-position: center;
  background-size: cover; background-attachment: fixed;
}
.photo2{
  background-image: url(images/photo2mobile.jpeg); background-position: center;
   background-size: cover; background-attachment: fixed;
}
.photo3{
  background-image: url(images/photo4mobile4.jpg); background-position: center;
  background-size: cover; background-attachment: fixed;
}
.photo4{
  background-image: url(images/photo4mobile.jpg); background-position: top-right;
  background-size: cover; background-attachment: fixed; position: relative;
}

}
