*{
  margin: 0; padding: 0;
}
body,html{
  width: 100%; height: 100%;
}
.container{
  width: 100%; height: 100%; background-image: url(img/photo5.jpeg); background-size: cover; background-repeat: no-repeat;
   background-position:center; position: relative;
 }
 nav{
 float: right;
 }
 nav ul{
   list-style: none;
 }
 nav ul li {
   display: inline;
 }
 nav a {
   text-align: center; text-decoration: none; text-transform: uppercase; padding-right: 40px;
    line-height: 80px; color: #CA1551; font-size: 26px;font-family: 'Bungee Shade', cursive;
 }
 nav a:hover{ color:#345995;}
 .info{
   width: 90%; height: auto; position: absolute; top: 30%; left: 5%; z-index: 99;
 }
.background{
  background-color:#fff; background-size: cover; width:100%; min-height: 340px;
   position: absolute; top: 2%; left: auto; opacity: 0.7; z-index: -1;
}

h3{
  font-family: 'Archivo Black', sans-serif; font-size: 36px; text-align: center; text-transform: uppercase; padding-top: 2%;

}
p{
  font-family:'Josefin Slab', serif; font-size: 28px; text-align: center; padding: 2% 4%;font-weight: 600;
}
@media (max-width:768px){
  .container{
    width: 100%;
    height: 100%;
  }
  nav{
    width: 100%;
  text-align: center;
  margin-top: 14px;
  }
  nav a {
  padding-right: 20px;
  line-height: 40px;
}
.info{
  height: auto; position: absolute; top: 16%; z-index: 99;
}
.background{
  background-color:#fff; background-size: cover; width: 100%; height:700px; position: absolute; top: auto; left: auto; opacity: 0.7; z-index: -1;
}
}
