*{
  margin: 0;
  padding: 0;
}
bady, html{
  width: 100%;
  height: 100%;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.current, span{
  color: orange;
}
header{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
nav ul{
  list-style: none;
}
nav li{
  display: inline-block;

}
nav a{
  line-height: 40px;
  font-size: 27px;
  font-family: 'Mate SC', serif;
  text-decoration: none;
  padding-left: 34px;
  color: black;
}
#text{
  text-align: center;
  width: 40%;
  float: left;
}
#text h1{
padding-top: 60px;
  font-size: 80px;
  font-family: 'Text Me One', sans-serif;
  letter-spacing: 4px;
}
#text h3{
  padding-top: 20px;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'David Libre', serif;
  letter-spacing: 3px;
  padding-bottom: 80px;
}
#text p{
padding-top: 10px;
border-top: 1px solid black;
  font-size: 28px;
  font-family: 'Sunshiney', cursive;

}
#text h6{
  border-bottom: 1px solid black;
  padding-top: 15px;
  font-size: 28px;
  font-family: 'Sunshiney', cursive;
}
.photographer{
  width: 65%;
  float: left;
  padding-top: 30px;
}
.photographer-photo{
  width: 30%;
    float: right;
}
#artist-text h5{

  font-size: 25px;
  font-weight: lighter;
  font-family: 'EB Garamond', sans-serif;
  text-align: justify;

}
#artist-text img{
width: 95%;
}
#img{
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  width: 55%;
  float: right;
}
#img img{
  filter: drop-shadow(2px 2px 2px #000);
  border-radius: 4px;
  width: 100%;
}
#contact-text{
  padding-top: 30px;
  text-align: justify;
  font-family: 'EB Garamond', serif;
}
#contact-text h2{
  color: orange;
  font-size: 22px;
  padding-bottom: 15px;
}
#contact-text a{
  display: block;
  color: orange;
  padding-top: 14px;
  margin-bottom: 30px;
  text-decoration: none;
}
.left {
  width: 35%;
  float: left;
  align-items: center;

}
.right{
  width: 35%;
  float: left;
}
@media (max-width:768px){
  #text, #img, header nav, #artist-text h5, #artist-text img{
    float: none;
    width: 100%;
  }
  header{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav a{
    padding-top: 15px;
    font-size: 20px;
    padding-left: 12px;
  }

  #text{
    margin-bottom: 20px;
  }
  #text h1{
    font-size: 40px;
    text-align: center;
    padding-top: 25px;

  }
  #text h3{
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 50px;
  }
  #text p{
    font-size: 20px;
  }
  #text h6{
    font-size: 20px;
  }

  #img img{
    padding-top: 10px;
    width: 100%;
  }
  #artist-text{
    padding-top: 5px;
  }
  #artist-text h5{
    padding-bottom: 20px;
    width: 100%;
    font-size: 17px;
    font-family: 'Athiti', sans-serif;
    text-align: center;

  }
}
