@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	 padding:0;
 }
body, html{
	width: 100%;
	height: 100%;
	 }
body{
	margin:0;
	padding:0;
	background-image: -webkit-linear-gradient(#ECF0F1, #FAE5D3);
}
.cover{
	width:100%;
	height:auto;
 }
.cover img { display:block;  margin:1px auto 0 auto; }
nav { background:#D5DBDB;
	 width:100%;
	 margin:0 auto;}
nav ul { list-style:none; text-align: center;}
nav ul li { display: inline;
	line-height: 50px;
 }
nav ul li a {
	 font: 16px 'Milonga', cursive;
	 text-decoration:none;
	 color:#003;
	 padding: 16px 100px;
 }
 .main {
 	 width:100%;
 	 height:auto;
 	 margin: 18px auto;}
 .container {
 width: 80%;
 	margin:0 auto; padding:0;}
article{
  width: 100%;
  height: 290px;
}
article img{
  width: 13%;
  display: block;
  margin: 0 auto;
  padding: 12px 0;
}
.number {
  float: left;
   width: 45%;
 }
 .adress {
   width: 45%;
   float: right;
 }
article h3 {
	 font-family: 'IM Fell DW Pica SC', serif;
	  font-size:24px;
		 text-align:center;
		 padding: 14px 0;
	 }
article p {
	font-family: 'Junge', serif;
	 font-size:18px;
	  text-align:center;
     padding: 25px;
	}

footer {
	background:#999;
	width:100%;
	height: auto;
	 clear:both;
  margin-bottom: 10px;
 }
	 footer p {
		 line-height: 40px;
		 font-size: 15px;
		 text-align:right;
		 padding-right: 40px;
    letter-spacing: 1px;
	 }
.resim { width:35%; height:auto; float:left;
	}
.resim img{
	width: 90%;
}
