@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	 padding:0;
 }
body, html{
	width: 100%;
	height: auto;
	 }
body{
	margin:0;
	padding:0;
	background-image: -webkit-linear-gradient(#ECF0F1, #FAE5D3);

}
.cover{
	width:100%;
	height:auto;
}
.cover img { display:block;  margin:1px auto 0 auto; }
.main {
	 width:100%;
	 height:auto;
	 margin: 18px auto;}
.container {
  width: 80%;
	margin:0 auto; padding:0;}

nav { background:#D5DBDB;
	 width:100%;
	 margin:0 auto;}
nav ul { list-style:none; text-align: center;}
nav ul li { display: inline;
	line-height: 50px;
 }
nav ul li a {
	 font: 16px 'Milonga', cursive;
	 text-decoration:none;
	 color:#003;
	 padding: 16px 100px;
 }
article {
  width: 100%;
 }
article img{
  width: 30%;
  margin: 0 auto;
  display: inline-grid;
  padding-bottom: 14px;
}
article img::before{
  width: 30%;
}
article img::after{
  width: 100%;
}
article img:hover{
  width: 50%;
}
footer {
	background:#999;
	width:100%;
	height: auto;
	 clear:both;
  margin-bottom: 10px;
 }
	 footer p {
		 line-height: 40px;
		 font-size: 15px;
		 text-align:right;
		 padding-right: 40px;
    letter-spacing: 1px;
	 }
