/* General rules max */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}
.container{
  width: 97%;
  height: 100%;
}
.content{
  width: 80%;
  height: 100%;
  margin: 0px auto;
  display: flex;
}
.narrow{
  float: right;
  width: 3%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.narrow a{
  display: block;
  transform: rotate(90deg);
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
}
.narrow i{
  padding: 6px 10px;
}
.left-angles{
  position: absolute;
  top: 7%;
  left: 0;
  color: white;
}
.right-angles{
  position: absolute;
  top:90%;
  left: 0;
  color: white;
}

/* Cover section settings for Max */

.cover{
/*  display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 88%;
  height: 100%;
  background-color: #202020;
  border-right: 1px solid #839192;
}

.info{
  width: 100%;
  height: 20%;
}
.image{
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-image: url(img/working.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.text{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text p{
  line-height: 28px;
}
.contact-info{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
/*
nav p{
  color: rgba(255, 255, 255, 0.5);
}   */
.contact-details{
  height: 100%;
  padding: 20px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-details p{
  padding: 5px 0px;
}
.contact-info .social{
  width: 40%;
  height: 100%;
  text-align: right;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.social a{
  letter-spacing: 2px;
  line-height: 26px;
}
.social a:hover{
  text-decoration: underline;
}
.contact-info a{
  color: white;
  text-decoration: none;
  display: block;
}

/* About me section settings for Max */

.about{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 100%;
  background-color: #202020;
  border-right: 1px solid #839192;
}
.for750flex{
/*  padding: 5%;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.con-image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 18px;
}
.con-image img{
  width: 280px;
}
.con-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}
.big-text p{
  font-size: 52px;
  font-weight: bold;
  padding-bottom: 10px;
}
.small-text{
  display: flex;
  padding-bottom: 60px;
}
.small-text p{
padding: 20px 15px;
text-align: justify;
}

/* Contact section settings for Max */

.contact{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #222222;
  border-right: 1px solid #839192;
}
.flex{
  display: flex;
  align-items: center;
}
.contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Portfolio section settings for Max */

.portfolio{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 100%;
  background-color: #202020;
  border-right: 1px solid #839192;
}

.flex-column {
 padding: 5% 0%;
 display: flex;
 flex-direction: row;
 flex-flow: row wrap;

 /*
 flex-direction: column;  */
 align-items: center;
 justify-content: center;
}
/*
.flex-row{
  display: flex;
  align-items:  baseline;
  justify-content:  center;
  padding-top: 0px;
  height: 40%;
}
*/
.porfolio-box{
  padding: 0px 20px;
  width: 33%;
}
/* .flex-row{
  padding-top: 20px;
  height: 50%;
  display: flex;
}  */

.port-img{
  width: 100%;
}
figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.port-img figure {
	position: relative;
}
.port-img figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 1;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.port-img figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


.port-img img{
  width: 100%;
}
.port-text h4{
  text-align: center;
  padding-top: 8px;
  color: #fff;
  font-size: 19px;
  font-family: 'Open sans';
}
.port-text p{
  padding-top: 6px;
  color: #fff;
  font-size: 13px;
  font-family: 'Open sans';
  text-align: justify;
}




@media only screen and (max-width: 1040px) {
  .narrow{
    width: 6%;
  }
  .container{
    width: 94%;
    height: 100%;
  }
  .content{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
  }

    /* cover section settings */

    .cover{
      width: 82%;
  /*    display: none;  delete later */
    }
    .image{
      width: 100%;
      height: 60%;
      overflow: hidden;
      background-image: url(img/working.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
    }
    /*
    .image img{
      width: auto;
      height: 100%;
    }  */
    .info{
      width: 100%;
      height: 20%;
    }
    .text{
      width: 80%;
      height: 100%;
      margin: 0 auto;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text p{
      font-size: 16px;
      line-height: 28px;
    }
    .contact-info{
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    /*
    nav p{
      color: rgba(255, 255, 255, 0.5);
    }   */
    .contact-details{
      height: 100%;
      padding: 20px 50px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .contact-details p{
      padding: 5px 0px;
    }
    .contact-info .social{

      height: 100%;
      text-align: right;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


  /* about me section settings */

    .about{
      width: 88%;
    /*  display: none;   delete later */
    }
    .for750flex{
      padding: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .con-image{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 13%;
    }
    .con-image img{
      width: 250px;
    }
    .con-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 18px;
    }
    .big-text p{
      font-size: 52px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .small-text{
      display: inline;

    }
    .small-text p{
      padding: 10px;
      line-height: 28px;
    }

    /* Portfolio section settings */

    .portfolio{
      width: 94%;
    /*  display: none; /* delete later */
    }
    .flex-column {
     padding: 5% 10%;
     display: flex;
     flex-direction: row;
     flex-flow: row wrap;

     /*
     flex-direction: column;  */
     align-items: center;
     justify-content: center;
    }
    /*
    .flex-row{
      display: flex;
      align-items:  baseline;
      justify-content:  center;
      padding-top: 0px;
      height: 40%;
    }
    */
    .porfolio-box{
      padding: 0px 20px;
      width: 50%;
    }
    .port-img{
      width: 100%;
    }
    .port-text h4{
      font-size: 16px;
    }
    .port-text p{
      text-align: center;
    }
    figure {
    	width: 100%;
    	height: 100%;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;

    }
  /* contact section settings */

    .contact{
      width: 100%;
    }
    .flex{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    /*  display: none; */
    }
    .map{
      width: 50%;

    }
    .map iframe {
      width: 300px;
        height: 300px;
    }
    .contact-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

}
/* Mobile navigation */
@media screen and (min-width: 501px) {
	.mobile-menu {
		display: none;
	}
}
/*
@media screen and (min-width: 499px) {
	.mobile-menu {
		display: none;
	}
}          */
@media screen and (max-width: 500px) {
	.main-menu {
		display: none;
	}

.mobile-menu .icon-and-logo {
		display: flex;
	}
.mobile-menu li {
		list-style: none;
	}
.mobile-menu {
    left: 0px;
		top: 0px;
		position: fixed;
		width: 100%;
		background: #222;
		z-index: 22;
		font-weight: bold;
    padding: 10px 0px 20px 30px;

	}
.mobile-menu ul li {
   	text-align: center;
		margin: 10px 10px;
	}
.mobile-menu li a {
		color: #fff;
  margin-left: -50px;
	}

	/* Hamburger menu */
	.menu-icon {
		padding: 10px 0 10px;
		margin-right: auto;
	}
	.bar1, .bar2, .bar3 {
		width: 25px;
		height: 3px;
		background: #fff;
		margin: 4px 0;
		transition: 0.4s;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-5px, 4px);
		transform: rotate(-45deg) translate(-5px, 4px);
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-5px, -4px);
		transform: rotate(45deg) translate(-5px, -4px);
	}
	.mobile-nav {
		display: none;
	}
	.mobile-nav.active {
		display: block;
	}
}


@media only screen and (max-width: 750px) {

/* General settings */
.narrow{
  width: 6%;
}
.container{
  width: 94%;
  height: 100%;
}
.content{
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: flex;
}

  /* cover section settings */

  .cover{
    width: 82%;
    /* display: none;  delete later */
  }
  .image{
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-image: url(img/working.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  /*
  .image img{
    width: auto;
    height: 100%;
  }          */
  .info{
    width: 100%;
    height: 20%;
  }
  .text{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text p{
    font-size: 16px;
    line-height: 28px;
  }
  .contact-info{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*
  nav p{
    color: rgba(255, 255, 255, 0.5);
  }   */
  .contact-details{
    height: 100%;
      width: 30%;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .contact-details p{
    padding: 5px 0px;
  }
  .contact-info .social{
    width: 30%;
    height: 100%;
    text-align: right;
      padding: 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


/* about me section settings */

  .about{
    width: 88%;
/*  display: none;   delete later */
  }
  .for750flex{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .con-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13%;
  }
  .con-image img{
    width: 250px;
  }
  .con-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
  }
  .big-text p{
    font-size: 52px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .small-text{
    display: inline;

  }
  .small-text p{
    padding: 10px;
    line-height: 28px;
  }

  /* Portfolio section settings */

  .portfolio{
    width: 94%;
  /*  display: none; /* delete later */
  }
  .flex-column {
   padding: 5% 10%;
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;

   /*
   flex-direction: column;  */
   align-items: center;
   justify-content: center;
  }
  /*
  .flex-row{
    display: flex;
    align-items:  baseline;
    justify-content:  center;
    padding-top: 0px;
    height: 40%;
  }
  */
  .porfolio-box{
    padding: 0px 20px;
    width: 50%;
  }
  .port-img{
    width: 100%;
  }
  .port-text h4{
    font-size: 16px;
  }
  .port-text p{
    text-align: center;
  }
  figure {
  	width: 100%;
  	height: 100%;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;

  }
/* contact section settings */

  .contact{
    width: 100%;
  }
  .flex{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  /*  display: none; */
  }
  .map{
    width: 50%;

  }
  .map iframe {
    width: 300px;
      height: 300px;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}
@media only screen and (max-width: 500px) {

  .container{
    width: 100%;
    height: auto%;
  }
  .content{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
  }
  .narrow{
    display: none;
  }

  /* Cover section settings for Mobile */

  .cover{
  /*  display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    border-right: none;
  }
  .info{
    width: 100%;
    height: 30%;
  }
  .text{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text p{
    line-height: 28px;
  }
  .image{
    width: 100%;
    height: 40%;
    overflow: hidden;
    background-image: url(img/working-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .contact-info{
    width: 100%;
    height: 30%;
    display: block;

  }
  /*
  nav p{
    color: rgba(255, 255, 255, 0.5);
  }   */
  .contact-details{
    height: auto;
    padding: 0px;
    color: white;
    display: block;
    padding: 6px 0px 10px 30px;
  }
  .contact-details p{
    padding: 5px 0px;
  }
  .contact-info .social{
    width: auto;
    height: auto;
    text-align: left;
    padding: 2px;
    display: block;
    padding: 6px 0px 0px 30px;
     /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .social a{
    letter-spacing: 2px;
    line-height: 26px;
  }
  .social a:hover{
    text-decoration: underline;
  }
  .contact-info a{
    color: white;
    text-decoration: none;
    display: block;
  }

  /* About me section settings for Mobile */

  .about{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    border-top: 1px solid #839192;

  }
  .for750flex{
  /*  padding: 5%;  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .con-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
  }
  .con-image img{
    width: 50%;
  }
  .con-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
  }
  .big-text p{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  .small-text{
    display: block;
    padding-bottom: 0px;
  }
  .small-text p{
  padding: 5px 5px;
  text-align: justify;
  }
  .for750flex{
    display: block;
  }

/* Portfolio section settings for Mobile */
.portfolio{
  width: 100%;
  height: 200%;
  position: absolute;
  top: 200%;
  border-top: 1px solid #839192;
/*  display: none; /* delete later */
}
.flex-column {
 padding: 2% 4%;
 display: flex;
 flex-direction: column;
 flex-flow: row wrap;

 /*
 flex-direction: column;  */
 align-items: center;
 justify-content: center;
}
/*
.flex-row{
  display: flex;
  align-items:  baseline;
  justify-content:  center;
  padding-top: 0px;
  height: 40%;
}
*/
.porfolio-box{
  padding: 5px 0px;
  width: 80%;
}  /*
.hide{
  display: none;
}     */
.port-img{
  width: 100%;
}
.port-text h4{
  font-size: 16px;
}
.port-text p{
  text-align: center;
}
figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
/* Contact section settings for Mobile */

.contact{
  width: 100%;
  position: absolute;
  top: 400%;
  border-top: 1px solid #839192;
}
.flex{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
/*  display: none; */
}
.map{
  width: 50%;

}
.map iframe {
  width: 300px;
    height: 300px;
}



}
